html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans",sans-serif!important;
    font-size: 12px;
}

body {
    margin: 0;
}

/* preso da Bootstrap*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h6 {
    font-size: inherit;
}

.container{
    width:100%;
    /* padding-right:15px;
    padding-left:15px; */
    margin-right:auto;
    margin-left:auto;
}

@media (min-width:576px)
{
    .container{
        max-width:540px;
    }
}

@media (min-width:768px)
{
    .container{
        max-width:720px;
    }
}

@media (min-width:992px)
{
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px)
{
    .container{
        max-width:1140px;
    }
}

.tile-group {
    --spacing: 0.8rem;
    background-color: #f2f2f2; 
    padding-left: var(--spacing);
    padding-top: var(--spacing);
    /* height:100%; */
}

.layout-container {
    
}

.hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    --tile-padding: .74rem;
    padding: var(--tile-padding);
    border: 1px solid #eee;
    background-color: #fbfbfb;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.04);
    flex:1;
    min-width: 38rem;
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
    box-sizing: border-box;
}

.tile-title {
    padding-bottom: var(--tile-padding);
    z-index: 1;
}

.tile-title div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.tile-title h6 {
    height: 1.25rem;
    line-height: 1.30rem;
    text-transform: uppercase;
    /* font-size: 12px; */
    font-weight: 600;
    color: #005890;
    margin-bottom: 0;
    white-space: nowrap;
}

.tile-content {
}

.tile-control-group {
    display: flex;
    flex-direction: row;
    padding: 2px;
    min-height:2.2rem;
}

.tile-control-caption {
    display: flex;
    align-items: center;
    min-height: 2.2rem;
}
.tile-control-caption label {
    text-align: right;
    width: inherit;
    margin-right: 5px;
}

.tile-control {

}

.tile-control input, select {
    width:100%;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #d0d0d0!important;
    background: #f2f2f2;
    padding: 4px 4px 2px;
}

.tile-row {
    display: flex;
}

.size-1 {
    width:3rem;
}
.size-2{
    width:6rem;
}
.size-3{
    width:9rem;
}
.size-4{
    width:12rem;
}
.size-5{
    width:15rem;
}
.size-6{
    width:18rem;
}
.size-7{
    width:21rem;
}
.size-8
{
    width:24rem;
}
.size-9{
    width:27rem;
}
.size-10{
    width:30rem;
}
.size-11{
    width:33rem;
}
.size-12{
    width:36rem;
}
.size-100{
    width:100%;
}