html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans",sans-serif!important;
    font-size: 12px;
}

body {
    margin: 0;
}

/* preso da Bootstrap*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h6 {
    font-size: inherit;
}

.container{
    width:100%;
    /* padding-right:15px;
    padding-left:15px; */
    margin-right:auto;
    margin-left:auto;
}

@media (min-width:576px)
{
    .container{
        max-width:540px;
    }
}

@media (min-width:768px)
{
    .container{
        max-width:720px;
    }
}

@media (min-width:992px)
{
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px)
{
    .container{
        max-width:1140px;
    }
}

.tile-group {
    --spacing: 0.8rem;
    background-color: #f2f2f2; 
    padding-left: var(--spacing);
    padding-top: var(--spacing);
    /* height:100%; */
}

.layout-container {
    
}

.hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    border: 1px solid #dee2e6;
    background-color: #fbfbfb;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.04);
    height:15rem;
    flex:1;
    min-width: 38rem;
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
}

.tile-title {
    padding: .55rem .85rem .45rem .65rem;
    z-index: 1;
}

.tile-title div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.tile-title h6 {
    height: 1.25rem;
    line-height: 1.30rem;
    text-transform: uppercase;
    /* font-size: 12px; */
    font-weight: 600;
    color: #005890;
    margin-bottom: 0;
    white-space: nowrap;
}
