#switch-panel {
    height: 3rem;
    padding-top: 0.8rem;
    border-bottom: 1px lightgray solid;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#switch-panel-screen-size {
    display: flex;
}

.container {
    min-height: calc(100vh - 4.5rem);
}