const tileTemplate = `
<div class="tile">
    <div class="tile-title">
        <div>
            <h6>{title}</h6>
        </div>
    </div>
    <div class="tile-content">
    </div>
</div>
`

const tileControlTemplate = `
<div class="tile-control-group">
    <div class="tile-control-caption"><label>{caption}</label></div>
    <div class="tile-control">
        <input class="input text" type="text" >
        <select class="input enum" >
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
        </select>
        <select class="input combo" >
        </select>
        <div class="input checkbox">
            <input type="checkbox" >
        </div>
    </div>
</div>
`

const tileRowTemplate = `
<div class="tile-row">
</div>
`
