const tileTemplate = `
<div class="tile">
    <div class="tile-title">
        <div>
            <h6>{title}</h6>
        </div>
    </div>
    <div class="tile-content column">
    </div>
</div>
`

const tileColumnTemplate = `
<div class="tile-column">
</div>
`

const tileRowTemplate = `
<div class="tile-row">
</div>
`

const tileControlGroupTemplate = `
<div class="tile-control-group">
    <div class="tile-control-caption"><label>{caption}</label></div>
</div>
`

const tileControlEditTemplate = `
<div class="tile-control">
    <input type="text" >
</div>
`

const tileControlLabelTemplate = `
<div class="tile-control">
    <div class="label-static">
    </div>
</div>
`

const tileControlEnumTemplate = `
<div class="tile-control">
    <select>
        <option>value 1</option>
        <option>value 2</option>
        <option>value 3</option>
    </select>
</div>
`

const tileControlComboTemplate = `
<div class="tile-control">
    <select>
    </select>
</div>
`

const tileControlCheckboxTemplate = `
<div class="tile-control">
    <div class="checkbox-wrapper">
        <input type="checkbox" >
    </div>
</div>
`
